.App {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.Typeahead {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Typeahead-input {
    width: 300px;
    height: 40px;
    border-radius: 20px;
    border: none;
    padding: 10px;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.rbt-menu {
    margin-top: 0;
    border-radius: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    background-color: white;
    text-align: inherit;
    white-space: nowrap;
    border: 0;
}

a.dropdown-item{
    text-decoration: none;
    padding: 8px;
}

.rbt-menu .dropdown-item.active,
.rbt-menu .dropdown-item:hover {
    background-color: #ddd;
}

.rbt-menu > .dropdown-item {
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 768px) {
    .rbt-menu {
        width: 100%;
        max-width: 320px;
    }
}

@media only screen and (min-width: 768px) {
    .App {
        flex-direction: column;
    }

    /*.rbt .Typeahead {*/
    /*    max-width: 60%;*/
    /*}*/
    /*.Typeahead-input {*/
    /*    width: 100%;*/
    /*}*/
    /*.rbt-menu {*/
    /*    max-width: 60%;*/
    /*}*/
}
